html, html * {color: #FFFFFF !important; background-color: #292929 !important;}

img, video {z-index: 1}

* {border-color: #555555 !important}

cite, cite * {color: #029833 !important}

:link, :link * {color: #8db2e5 !important}

input, textarea {background-color: #292929 !important;color:#FFFFFF !important;outline: none !important;}

a {color: #FFFFFF !important;outline: none !important;}

:visited, :visited * {color: rgb(211, 138, 138) !important}

html, html::before, body, body::before, select {background-image: none !important ;outline: none !important;}

button{outline: none !important;}

video {background-color: transparent !important;}